/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes. Review Lesson 1.3
if you need a refresher about how to do this. */

body {
  padding: 30px 10px 30px 10px;
  /*Top padding is 30, right padding is 10, bottom padding is 20, left
  padding is 10. */
  font-family: sans-serif;
  max-width: 100%;
  margin: 0 auto;
  font-size: 1.4em;
}

.background {
  width: 100%;
  height: auto;
  background-color: #E0F9F8;
  background-size: cover;

}

h1{
  font-family:fantasy;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 10px auto;
  max-width: 60%;
  height: auto;
  background-color: #42E9E2;
  border-radius: 20px 60px;
  border: 2px solid gray;

}

.pic{
  padding: 10px 10px 10px 10px;
  margin: 50px auto;
  width: 80%;
  height: auto; /*responsive image*/
  text-align: center;
  background-color: #A39889;
  border-radius: 20px;
  border: 2px solid brown;
  border-color: #196562;
}


.ToC{
  text-align: left;
  padding: 10px 10px 10px 10px;
  margin: 10px auto;
  max-width: 80%;
  height: auto;
  background-color: #CDF1F5;
  border-radius: 10px 10px;
  border: 2px solid gray;
}

nav{
  display: block;
  list-style-type: decimal;
}

li{
  line-height: 200%
}

.AboutMe{
  text-align: left;
  padding: 10px 10px 10px 10px;
  margin: 10px auto;
  max-width: 80%;
  height: auto;
  background-color: #F0EBF7;
  border-radius: 10px 10px;
  border: 2px solid gray;
}

h2{
color: #08285D;
font-style: italic;
text-shadow: 2px 2px #6D90C9;
padding: 10px 40px 10px 20px;
}

p{
  margin: 15px 0;
  line-height: 2.0;
  margin: 10px auto;
  padding: 10px 20px 10px 20px;
  justify-content: space-around;
}

/*first line indentation*/
.MyURL{
  color: #1751B1;
  font-style: italic;
  text-shadow: 1px 1px #7BA6EC;
}


.flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nexttopic{
  padding: 10px 10px 10px 10px;
  margin: 50px auto;
  width: 80%;
  line-height: 2.0;
  justify-content: space-around;
  height: auto;
  text-align: left;
  background-color: #F1E1F3;
  border-radius: 20px;
  border: 2px solid gray;
}
